.header {
    height: 56px;
    z-index:20;
    position: relative;
    z-index: 110;
    border-bottom: solid 1px #ddd;
    background: #fff;
    display: flex;
    justify-content : flex-end;
    .user {
        height: 56px;
        cursor: pointer;
        margin-left: 20px;
        line-height: 56px;
    }

    .system-set{
        margin:0 20px 0 15px;
        display: inline-block;
        .set{
            font-family: 'react-single-app-menu';
            line-height: 56px;
            font-size: 20px;
            text-align: center;
            width: 50px;
            cursor: pointer;
        }
    }
}
.system-set{
    user-select: none;
    
    h3{
        margin:20px 0;
        font-weight: normal;
        border-bottom:solid 1px #eee;
        padding:10px 0;
        font-size: 14px;
        color:#666;
    }
    ul{
        overflow: hidden;
        margin:0;
        padding:0;
    }
    li{
        float: left;
        list-style: none;
    }
    .mode {
        li{
            margin-right: 10px;
            position: relative;
            overflow: hidden;
            width: 110px;
            height: 100px;
            border:solid 1px #eee;
            text-align: center;
            color:#666;
            img{
                display: block;
                margin:20px auto 12px;
                width: 32px;
            }
            &.checked:before{
                content:'\e634';
                font-family: 'react-single-app-iconfont';
                line-height: 20px;
                position: absolute;
                right: 2px;
                bottom:0;
                z-index: 10;
                color:#fff;
                font-size: 12px;
            }
            &.checked:after{
                content:'';
                display: block;
                position: absolute;
                right: 0;
                bottom:-35px;
                text-align: center;
                color:#fff;
                width:0;
                height:0;
                border-top:35px solid transparent;
                border-bottom:35px solid transparent;
                border-right:35px solid #1890FF;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .style{
        li{
            width: 110px;
            height: 100px;
            margin-right: 10px;
            border:solid 2px #ddd;
            margin-bottom: 10px;
            border:solid 1px #eee;
            position: relative;
            div{
                background:#fff;
                height: 36px;
                line-height: 36px;
                margin-top:62px;
                text-align: center;
                overflow: hidden;
            }
            &.checked:before{
                position: absolute;
                content:'\e634';
                font-family: 'react-single-app-iconfont';
                line-height: 20px;
                position: absolute;
                top: 25%;
                left: 50% ;
                z-index: 10;
                color:#fff;
                font-size: 20px;
                z-index: 10;
                transform: translateX(-50%)
            }
        }
        li:nth-child(even){
            margin-right: 0;
        }

    }
}

.react-single-app-user {
    padding: 0;
    li{
        padding:0;
    }
    .item{
        padding:8px 20px;
    }
    .logout{
        border-top:solid 1px #eee;
    }
}

.react-single-app-change-account{
    .ant-drawer-body{
        padding:0;
    }
    .title{
        font-weight: bold;
        border-bottom: solid 1px #eee;
        font-size: 16px;
        line-height: 50px;
        padding-left: 20px;
    }
    .item{
        margin:10px 20px;
        border:dashed 1px #eee;
        padding:10px ;
        color:#333; 
        cursor: pointer;
    }
    .item:hover{
        color:#1890FF;
        border-color:#1890FF;
    }
    .item.active{
        background:#E6F7FF;
        color:#1890FF;
        border-color:#1890FF;
    }
}